body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
  padding:15px;
}

.card{
  background:#1e293b;
  border-radius:18px;
  padding:20px;
  box-shadow:0 0 20px rgba(0,0,0,.3);
  max-width:500px;
  margin:auto;
}

input,
select,
button{
  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:10px;
  box-sizing:border-box;
}

button{
  background:#2563eb;
  color:white;
  font-weight:bold;
}

button:hover{
  opacity:.9;
}

.back-btn{
  background:#475569;
  margin-bottom:10px;
}

#reader{
  width:100%;
  overflow:hidden;
  border-radius:12px;
}

a{
  color:#60a5fa;
}
