body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card{
  width:90%;
  max-width:360px;
  background:#1e293b;
  padding:20px;
  border-radius:14px;
  box-sizing:border-box;
}

input,button{
  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:8px;
  box-sizing:border-box;
}

button{
  background:#2563eb;
  color:white;
  cursor:pointer;
}

a{
  text-decoration:none;
}
